# Dependencies
node_modules
.pnpm-store

# Git
.git
.gitignore

# Environment
.env
.env.*
!.env.example

# Logs
npm-debug.log
pnpm-debug.log
yarn-debug.log
*.log

# OS / Editor
.DS_Store
.vscode
.idea

# Local builds
coverage
tmp
.cache

# Docker compose files (optional if outside server folder)
docker-compose*.yml